In [2]:
from pyspark.sql.types import StructType, StructField, FloatType, BooleanType, DateType, TimestampType
from pyspark.sql.types import DoubleType, IntegerType, StringType
import pyspark
from pyspark import SQLContext
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]").appName("SparkByExamples.com").getOrCreate()
conf = pyspark.SparkConf()
spark_context = SparkSession.builder.config(conf=conf).getOrCreate()

# USE OF UNION WHEN HAVE DIFFERENT NUMBER OF COLUMNS

In [5]:
data1=[
(1 , '2016-08-29', 1 , 2, 3),
(2 , '2016-08-29', 1 , 2, 3),
(3 , '2016-08-29', 1 , 2, 3)]
df1 = spark.createDataFrame(data1, ['code' , 'date' , 'A' , 'B', 'C'])
data2=[
(5 , '2016-08-29', 1, 2, 3, 4),
(6 , '2016-08-29', 1, 2, 3, 4),
(7 , '2016-08-29', 1, 2, 3, 4)]
df2 = spark.createDataFrame(data2, ['code' , 'date' , 'B', 'C', 'D', 'E'])

In [7]:
df1.show()

+----+----------+---+---+---+
|code|      date|  A|  B|  C|
+----+----------+---+---+---+
|   1|2016-08-29|  1|  2|  3|
|   2|2016-08-29|  1|  2|  3|
|   3|2016-08-29|  1|  2|  3|
+----+----------+---+---+---+

In [8]:
df2.show()

+----+----------+---+---+---+---+
|code|      date|  B|  C|  D|  E|
+----+----------+---+---+---+---+
|   5|2016-08-29|  1|  2|  3|  4|
|   6|2016-08-29|  1|  2|  3|  4|
|   7|2016-08-29|  1|  2|  3|  4|
+----+----------+---+---+---+---+

In [14]:
df3 = df1.unionByName(df2, allowMissingColumns=True)

In [15]:
df3.show()

+----+----------+----+---+---+----+----+
|code|      date|   A|  B|  C|   D|   E|
+----+----------+----+---+---+----+----+
|   1|2016-08-29|   1|  2|  3|null|null|
|   2|2016-08-29|   1|  2|  3|null|null|
|   3|2016-08-29|   1|  2|  3|null|null|
|   5|2016-08-29|null|  1|  2|   3|   4|
|   6|2016-08-29|null|  1|  2|   3|   4|
|   7|2016-08-29|null|  1|  2|   3|   4|
+----+----------+----+---+---+----+----+

# USE OF EXPECT/MINUS IN PYSPARK

In [18]:
d1 = [(1,'x','x','x'),(3,'y','y','y')]
d2 = [(1,'x','x','x'),(3,'y','y','y'),(4,'z','z','z')]
df4 = spark.createDataFrame(d1,['id','col1','col2','col3'])
df5 = spark.createDataFrame(d2,['id','col1','col2','col3'])
df6 = df5.exceptAll(df4)
df6.show()

+---+----+----+----+
| id|col1|col2|col3|
+---+----+----+----+
|  4|   z|   z|   z|
+---+----+----+----+