In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/Users/B0264653/Desktop/Namaste-Python/Day8/orders.txt')
df.head()

,order_id,order_date,customer_name,city,category,product_id,sales,profit
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288

In [6]:
df.columns

Index(['order_id', 'order_date', 'customer_name', 'city', 'category',
       'product_id', 'sales', 'profit'],
      dtype='object')

1107592.9048

In [8]:
df['sales'].sum()

1107592.9048

In [9]:
df['sales'].mean()

221.12056394489917

In [10]:
df['sales'].max()

10499.97

In [16]:
fc= df['category']=='Furniture'
df[fc]['sales'].sum()

628359.3048