In [3]:
import pandas as pd

In [39]:
# note : use the orders and returns dataset 

# 1- write a program to get category wise sales of orders that were not returned

df_o = pd.read_csv('/Users/B0264653/Desktop/Namaste-Python/Day8/orders.txt')
df_r = pd.read_csv('/Users/B0264653/Desktop/Namaste-Python/Day10/returns.txt')
df_1 = pd.merge(left=df_o, right=df_r, left_on='order_id', right_on='order_id', how='left')
merged_data = df_1[df_1['Return Reason'].isnull()]
merged_data.groupby(['category'])['sales'].sum()

category
Furniture          582901.5289
Office Supplies    284516.2270
Technology         174630.6580
Name: sales, dtype: float64

In [44]:
# 2- write a program to get city wise count of return orders

df_o = pd.read_csv('/Users/B0264653/Desktop/Namaste-Python/Day8/orders.txt')
df_r = pd.read_csv('/Users/B0264653/Desktop/Namaste-Python/Day10/returns.txt')
df_1 = pd.merge(left=df_o, right=df_r, left_on='order_id', right_on='order_id', how='inner')
city_return_count = df_1.groupby(['city']).value_counts()
print(city_return_count)

city            order_id        order_date  customer_name    category         product_id       sales     profit     Return Reason
Albuquerque     CA-2018-152345  2018-12-29  Shui Tom         Office Supplies  OFF-ST-10003123  33.290     7.9896    Bad Quality      1
Amarillo        CA-2019-139731  2019-10-15  Joel Eaton       Furniture        FUR-CH-10002024  2453.430  -350.4900  Wrong Items      1
Anaheim         CA-2020-165330  2020-12-11  William Brown    Furniture        FUR-CH-10003774  363.920   -31.8430   Wrong Items      1
Apple Valley    CA-2021-142342  2021-07-17  Anthony Johnson  Furniture        FUR-BO-10002613  1194.165   210.7350  Wrong Items      1
Atlanta         CA-2021-159954  2021-09-10  Shahid Shariari  Office Supplies  OFF-BI-10004876  2.780      1.3622    Wrong Items      1
                                                                                                                                    ..
Vallejo         CA-2020-115917  2020-05-20  Rick Bensley     Furniture        FUR-FU-10000576  1049.200   272.7920  Wrong Items      1
Virginia Beach  CA-2020-157280  2020-11-05  Liz Willingham   Furniture        FUR-FU-10003806  756.800    75.6800   Wrong Items      1
West Jordan     CA-2019-123568  2019-11-08  Sanjit Chand     Furniture        FUR-FU-10004090  66.690     22.0077   Bad Quality      1
Wilmington      CA-2021-166142  2021-07-15  Magdelene Morse  Furniture        FUR-TA-10004607  310.443   -48.7839   Wrong Items      1
York            US-2020-152051  2020-06-25  Theresa Swint    Furniture        FUR-CH-10002965  422.058   -18.0882   Wrong Items      1
Name: count, Length: 291, dtype: int64

In [52]:
# 3- write a program to print cities where we have all 
# 3 kinds of returns (others,bad quality,wrong items)

df_o = pd.read_csv('/Users/B0264653/Desktop/Namaste-Python/Day8/orders.txt')
df_r = pd.read_csv('/Users/B0264653/Desktop/Namaste-Python/Day10/returns.txt')
df_1 = pd.merge(left=df_o, right=df_r, left_on='order_id', right_on='order_id', how='inner')
city_return_ucounts = df_1.groupby('city')['Return Reason'].nunique()
city_return_ucounts[city_return_ucounts.values > 2]

city
Los Angeles      3
New York City    3
Name: Return Reason, dtype: int64

In [58]:
# 4- write a program to find cities where not even a single order was returned.

df_o = pd.read_csv('/Users/B0264653/Desktop/Namaste-Python/Day8/orders.txt')
df_r = pd.read_csv('/Users/B0264653/Desktop/Namaste-Python/Day10/returns.txt')
df_1 = pd.merge(left=df_o, right=df_r, left_on='order_id', right_on='order_id', how='left')
df_2 = df_1.groupby(['city'])['Return Reason'].count()
df_2[df_2.values==0]

city
Aberdeen      0
Abilene       0
Akron         0
Alexandria    0
Allen         0
             ..
Woodstock     0
Woonsocket    0
Yonkers       0
Yucaipa       0
Yuma          0
Name: Return Reason, Length: 412, dtype: int64

In [63]:
# 5- write a program to find top 3 cities by sales

df_o = pd.read_csv('/Users/B0264653/Desktop/Namaste-Python/Day8/orders.txt')
df_o.groupby(['city'])['sales'].sum().sort_values(ascending=False).head(3)

city
New York City    115073.919
Los Angeles       79663.299
San Francisco     52590.648
Name: sales, dtype: float64

In [66]:
# 6- write a program to get order ids whos return reason is not known (nan)
df_o = pd.read_csv('/Users/B0264653/Desktop/Namaste-Python/Day8/orders.txt')
df_r = pd.read_csv('/Users/B0264653/Desktop/Namaste-Python/Day10/returns.txt')
df_1 = pd.merge(left=df_o, right=df_r, left_on='order_id', right_on='order_id', how='left')
df_1[df_1['Return Reason'].isna()]

,order_id,order_date,customer_name,city,category,product_id,sales,profit,Return Reason
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,NaN
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354,NaN
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,NaN
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,NaN
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,NaN
...,...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,NaN
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,NaN
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,NaN
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,NaN
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492,NaN

In [68]:
# 7- write a program to fill unknown return reason to a default value 'others'
df_o = pd.read_csv('/Users/B0264653/Desktop/Namaste-Python/Day8/orders.txt')
df_r = pd.read_csv('/Users/B0264653/Desktop/Namaste-Python/Day10/returns.txt')
df_1 = pd.merge(left=df_o, right=df_r, left_on='order_id', right_on='order_id', how='left')
df_1['Return Reason'].fillna('others')

0       others
1       others
2       others
3       others
4       others
         ...
5004    others
5005    others
5006    others
5007    others
5008    others
Name: Return Reason, Length: 5009, dtype: object

In [73]:
# 8- write a program to find avg sales and avg profit for each category
df_o = pd.read_csv('/Users/B0264653/Desktop/Namaste-Python/Day8/orders.txt')
df_o.groupby(['category']).agg({'sales':'mean','profit':'mean'})

                      sales     profit
category
Furniture        356.212758   9.813403
Office Supplies  107.680040  18.906134
Technology       382.705186  75.452770